@import url('https://fonts.cdnfonts.com/css/lexend-exa');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Lexend Exa', sans-serif;
    text-align: justify;
    background-image: linear-gradient(to bottom, #7EB77F, #9EC4A0);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    height: 125px;
    min-width: max-content;
    max-width: 1050px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0px 100px;
    background-color: #041208;
    color: #FFFFFF;
    border-radius: 0em 0em 2em 2em;
}

header > nav{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}

nav > a{
    text-decoration: none;
    color: #ffffff47;
}

nav > a.current{
    color: #FFFFFF;
}

nav > a:hover{
    color: #FFFFFF;
}

nav > a:active{
    text-shadow: 1px 1px #FFFFFF;
}

img.header{
    width: 100px;
    border-radius: 25px;
}

main{
    padding: 50px;
}

footer{
    color: #FFFFFF;
    background-color: #041208;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section.footer.left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav.footer{
    display: flex;
    gap: 25px;
}

div.footer > p{
    margin: 0px;
}

section.footer.right{
    display: flex;
    gap: 25px;
}

a.footer{
    align-self: center;
}

img.footer{
    width: 125px;
    align-self: center;
}

main{
    display: flex;  
    justify-content: space-around;
}

main section.left{
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.left{
margin: -1px 0px;
}

.row1{
    padding-left: 120px;
    padding-right: 20px;
}

.row2{
    padding-left: 20px;
    padding-right: 80px;
}

.row3{
    padding-left: 20px;
    padding-right: 130px;
}

.row4{
    padding-left: 130px;
    padding-right: 20px;
}

.row5{
    padding-left: 150px;
    padding-right: 20px;
}

.row6{
    padding-left: 0px;
    padding-right: 0px;
}

.row7{
    padding-left: 190px;
    padding-right: 20px;
}

.row8{
    padding-left: 0px;
    padding-right: 0px;
}

.row9{
    padding-left: 0px;
    padding-right: 0px;
}

.row10{
    padding-left: 0px;
    padding-right: 0px;
}

.moved{
    padding-left: 85px;
}

a{
    color: #FFFFFF;
}

main section.right{
    font-size: 1.5em;
    hyphens: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px; 
    max-width: 470px;
}